.content-item-container {
  display: flex;
  flex-direction: column;
}
.content-item-container h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
@media only screen and (max-width: 1280px) {
  .content-item-container h3 {
    font-size: 16px;
  }
}
.content-item-container .item-box .top-item {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}
@media only screen and (max-width: 1280px) {
  .content-item-container .item-box .top-item {
    flex-direction: column;
  }
}
.content-item-container .item-box .top-item img {
  width: 128px;
  height: 128px;
  left: 0;
}
.content-item-container .item-box .top-item span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
@media only screen and (max-width: 1280px) {
  .content-item-container .item-box .top-item span {
    font-size: 16px;
  }
}
.content-item-container .item-box .bottom-item {
  padding: 0px;
  margin: 0px;
  padding-right: 20px;
}
.content-item-container .item-box .bottom-item span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}