.content-container {
  padding-left: 169px;
  padding-right: 169px;
}
@media only screen and (max-width: 414px) {
  .content-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.content-container .paragraph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #EFEFEF;
  padding: 38px 269px;
}
@media only screen and (max-width: 1280px) {
  .content-container .paragraph-container {
    padding: 25px 100px;
  }
}
@media only screen and (max-width: 414px) {
  .content-container .paragraph-container {
    padding: 0px;
  }
}
.content-container .paragraph-container .para-title {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  font-style: normal;
}
@media only screen and (max-width: 414px) {
  .content-container .paragraph-container .para-title {
    font-size: 15px;
  }
}
.content-container .paragraph-container .para-content {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.content-container .items-container {
  display: flex;
  margin-top: 40px;
  gap: 20px;
}
@media only screen and (max-width: 1280px) {
  .content-container .items-container {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 414px) {
  .content-container .items-container {
    flex-direction: column;
  }
}