.header-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1280px) {
  .header-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 414px) {
  .header-container {
    width: 300px;
  }
}