.nav-container{
    background-color: #191718;
    height: 100vh;
    width: 150px;
    @media only screen and (max-width: 1280px){
        height: 100%;
    }
    @media only screen and (max-width: 414px){
        width: 80px;
    }
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        // gap: 20px;
        li{
            list-style: none;
            padding-left: 20px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px #5C5C5C solid;
            @media only screen and (max-width: 414px){
                font-size: 12px;
            }
        }
        .News{
            background: #5C5C5C;
        }
    }
}